[submodule "wdcode/iframes/lib/ShaderGraph.js"]
        path = wdcode/iframes/lib/ShaderGraph.js
        url = https://github.com/unconed/ShaderGraph.js.git
[submodule "wdcode/iframes/lib/ThreeRTT.js"]
        path = wdcode/iframes/lib/ThreeRTT.js
        url = https://github.com/unconed/ThreeRTT.js
